extends layout

block content
  .row.banner
    .col-12
      h1 Loc8r
        small &nbsp;Find places to work with wifi near you!

  .row
    .col-12.col-md-8
      P List area.
    .col-12.col-md-4
      p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about.
  h1= title
  p Welcome to #{title}
